target/
out/
*.class
*.log
!/.mvn/wrapper/maven-wrapper.jar
**/target/
**/out/
.idea/
*.iml
*.iws
*.ipr
.kotlin/
.apt_generated/
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache/
**/nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/
build/
.vscode/
.DS_Store
Thumbs.db
